.register {
  background-color: #0a0a0a;
  padding: 3rem 0;
}

.register-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.register-main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;

}

.register-main > div {
  margin-bottom: 1rem;
}

.register-main-title h1 {
  font-size: 1.75rem;
  color: black;
  font-weight: bold;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.register-main-description p {
  font-size: 0.75rem;
  color: #2e4756;
  font-weight: bold;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.register-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
