@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");

.image-wrapper-top {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex: 1 1 60%;
}

.image-wrapper-top img {
  width: 545px;
  margin-left: 3rem;
  margin-top: 6rem;
}

.image-wrapper-bottom img {
  width: 1000px;
}

.image-wrapper-bottom {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 5rem;
}

.info-text p {
  color: white;
  font-family: "Poppins", sans-serif;
}

.find-us p {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 100;
  text-shadow: 0px 0px 8px rgb(230 223 223);
}

.img {
  border-radius: 2rem;
}
