.image-wrapper-top {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 5rem;
}

.image-wrapper-top img {
  width: 1000px;
  border-radius: .5rem;
  box-shadow: -1px 0px 6px 0px #ab9ec9;
}


.image-wrapper-bottom img {
  width: 1000px;
}

.image-wrapper-bottom {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 5rem;
}

.info-text p {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 100;
  text-shadow: 0px 0px 8px rgb(230 223 223);
}

.find-us p {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 100;
  text-shadow: 0px 0px 8px rgb(230 223 223);

}

.img {
  border-radius: 2rem;
}