@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");

@media (max-width: 768px) {
  .cart-card {
    padding: 8rem !important;
    margin: 2rem;
    justify-content: center;
    text-align: center;
  }
  span {
    font-size: 1rem !important;
  }
  .quantity {
    padding: 0 2rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
  }
  .shopping {
    color: red !important;
    font-weight: bold !important;
    margin-bottom: 2rem !important;
  }
  .coffee-order-container > div {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

#root {
  font-family: "Poppins", sans-serif;
}

span {
  font-family: "Poppins", sans-serif;
  margin-right: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

h3 {
  margin: 0px;
}

div .cart-items {
  margin-bottom: 20px;
}

.cart-items h3 {
  font-size: 1.5rem;
  margin-top: 0.9rem;
}

.shopping {
  color: red;
  font-weight: bold;
  display: flex;
  margin-bottom: 2rem;
}

.price h3 {
  font-size: 1.1rem;
}
